:host {
  display: block;
}

.filters-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin: 16px 0;
}

.field-inline {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 200px;
}
